@import '~antd/dist/antd.css';

.profile-div {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px 0.2px rgba(128, 128, 128, 0.2); */
}
